/* CSS for basic styling */

body {
   
    background-color: rgb(160 , 240, 240);
    background: linear-gradient(to bottom, #000000, #7cc2e0);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; /* Text alignment center for the whole body */
}

h1 {
    color: #fffdfd; /* Dark grey color */
}

h2 {
    color: #ffffff; /* Light grey color */
}

nav ul {
    list-style-type: none; /* Remove bullet points from the list */
    padding: 0;
}

nav ul li {
    display: inline; /* Display list items horizontally */
    margin-right: 20px; /* Add some space between list items */
}

nav ul li a {
    text-decoration: none; /* Remove underline from links */
    color: #fffdfd; /* Dark grey color */
}

footer {
    background-color: #ffffff; /* Light grey background color */
    padding: 10px;
    text-align: center;
}
h3, h4 {
    color: #ffffff; /* Ubah warna teks menjadi putih untuk h3 dan h4 */
}

a {
    color: #ffffff; /* Ubah warna teks menjadi putih untuk tautan (link) */
    text-decoration: none; /* Hapus garis bawah default dari tautan */
}

a:hover {
    text-decoration: underline; /* Tambahkan garis bawah saat tautan dihover */
}

